## Deliverable 2. Create a Customer Travel Destinations Map.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os


# Import API key
from config import g_key


# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Katsuura,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
1,1,Bourg-En-Bresse,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
2,2,Florenville,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
3,3,Ligayan,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
4,4,Cape Town,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
...,...,...,...,...,...,...,...,...,...,...
624,624,Kalemie,US,35.1894,-114.0530,64.40,20,1,25.32,clear sky
625,625,Obo,US,35.1894,-114.0530,64.40,20,1,25.32,clear sky
626,626,Launceston,US,35.1894,-114.0530,64.40,20,1,25.32,clear sky
627,627,Waterloo,US,35.1894,-114.0530,64.40,20,1,25.32,clear sky
628,628,Cortez,US,35.1894,-114.0530,64.40,20,1,25.32,clear sky

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
max_temps = city_data_df["Max Temp"]
min_temps = city_data_df["Max Temp"]

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Katsuura,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
1,1,Bourg-En-Bresse,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
2,2,Florenville,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
3,3,Ligayan,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
4,4,Cape Town,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
5,5,Acarau,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
6,6,East London,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
7,7,Boysun,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
8,8,Mataura,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
9,9,Ushuaia,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky

In [28]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City ID                300
City                   300
Country                300
Lat                    300
Lng                    300
Max Temp               300
Humidity               300
Cloudiness             300
Wind Speed             300
Current Description    300
dtype: int64

In [29]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()

In [30]:
clean_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Katsuura,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
1,1,Bourg-En-Bresse,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
2,2,Florenville,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
3,3,Ligayan,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky
4,4,Cape Town,PF,-23.1203,-134.9692,77.23,73,7,6.76,clear sky

In [38]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Katsuura,PF,77.23,clear sky,-23.1203,-134.9692,
1,Bourg-En-Bresse,PF,77.23,clear sky,-23.1203,-134.9692,
2,Florenville,PF,77.23,clear sky,-23.1203,-134.9692,
3,Ligayan,PF,77.23,clear sky,-23.1203,-134.9692,
4,Cape Town,PF,77.23,clear sky,-23.1203,-134.9692,
5,Acarau,PF,77.23,clear sky,-23.1203,-134.9692,
6,East London,PF,77.23,clear sky,-23.1203,-134.9692,
7,Boysun,PF,77.23,clear sky,-23.1203,-134.9692,
8,Mataura,PF,77.23,clear sky,-23.1203,-134.9692,
9,Ushuaia,PF,77.23,clear sky,-23.1203,-134.9692,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
      
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
  
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

In [34]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df

,City ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Katsuura,PF,77.23,clear sky,-23.1203,-134.9692,Pension Maro'i
1,1,Bourg-En-Bresse,PF,77.23,clear sky,-23.1203,-134.9692,Pension Maro'i
2,2,Florenville,PF,77.23,clear sky,-23.1203,-134.9692,Pension Maro'i
3,3,Ligayan,PF,77.23,clear sky,-23.1203,-134.9692,Pension Maro'i
4,4,Cape Town,PF,77.23,clear sky,-23.1203,-134.9692,Pension Maro'i
...,...,...,...,...,...,...,...,...
495,495,Darhan,BR,80.01,scattered clouds,-22.9194,-42.8186,Marica Hills
496,496,Ninghai,BR,80.01,scattered clouds,-22.9194,-42.8186,Marica Hills
497,497,Kautokeino,BR,80.01,scattered clouds,-22.9194,-42.8186,Marica Hills
498,498,Cap Malheureux,BR,80.01,scattered clouds,-22.9194,-42.8186,Marica Hills
499,499,Petropavlovsk-Kamchatskiy,BR,80.01,scattered clouds,-22.9194,-42.8186,Marica Hills

In [35]:
import os

# 8a. Create the output File (CSV)
#outputfolder = 'Vacation_Search'

#if not os.path.exists(outputfolder):
    #os.mkdir(outputfolder)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))